<div class="row">
{{#each icecreams}}
    <div class="col">
        <div class="ic">
            <h2><a href='/icecreams/{{flavor}}'>{{flavor}}</a></h2>
            <p>{{price}}</p>
            <p>{{quantity}}</p>
        </div>
    </div>
{{/each}}
</div>